body {
  background-color: #f5f4ff;
}

td {
  border: 1px solid black !important;
}

th {
  border: 1px solid black;
}

.container {
  width: 80%;
  padding-bottom: 60px;
}

.nav-link {
  margin: 0px 15px;
  color: #b7d9f7;
}

.header-not-auth {
  height: 120px;
  padding-bottom: 40px;
}

.header-auth {
  height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #090468;
}

.navigation {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  background-color: #2b268e;
}

.input-style {
  width: 200px;
}

.short_input {
  width: 60px;
}

.mid-input {
  width: 120px
}

.input-center {
  display: flex;
  justify-content: center;
}

.align-center {
  text-align: center;
}

.alert-width {
  display: flex;
  justify-content: center;
}

.raspored {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.obavestenja {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

.tabela-raspored {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.naslov-tabela {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.obavestenje {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f9fbff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.table {
  border: 1px solid black;
  background-color: #f9fbff;
}

.table-th {
  background-color: #444343;
  color: #f9fbff;
  border-bottom: 0 !important;
}

.forma-obavestenje {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.table-filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.razlog {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.mejl_polje {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.naziv_predmeta {
  font-size: 18px;
  font-weight: bold;
}
