{% extends 'studserviceapp/index.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
  <div class="header header-auth">Studentski Servis</div>
  <div class="navigation">
    <a class="nav-link" href="{% url 'home' username%}">Home</a>
    {% if nalog.uloga == 'student' %}
      <a class="nav-link" href="{% url 'raspored_nastave' username%}">Raspored Nastave</a>
      <a class="nav-link" href="{% url 'izbor_grupe' username%}">Izbor grupe</a>
      <a class="nav-link" href="{% url 'podaci' username%}">Podaci</a>
      <a class="nav-link" href="{% url 'upload_slike' username%}">Upload slike</a>
    {% elif nalog.uloga == 'nastavnik' %}
      <a class="nav-link" href="{% url 'raspored_nastave' username%}">Raspored Nastave</a>
      <a class="nav-link" href="{% url 'podaci' username%}">Spisak studenata po grupama</a>
      <a class="nav-link" href="{% url 'slanje_mejla' username%}">Slanje mejla</a>
      <a class="nav-link" href="{% url 'pretraga_studenta' username%}">Pretraga studenta</a>
    {% elif nalog.uloga == 'administrator' %}
      <a class="nav-link" href="{% url 'upload_rasporeda' username%}">Upload rasporeda</a>
      <a class="nav-link" href="{% url 'postavljanje_obavestenja' username%}">Postavljanje obaveštenja</a>
      <a class="nav-link" href="{% url 'slanje_mejla' username%}">Slanje mejla</a>
      <a class="nav-link" href="{% url 'unos_semestra' username%}">Unos semestra</a>
      <a class="nav-link" href="{% url 'unos_izborne_grupe' username%}">Unos izbornih grupa</a>
      <a class="nav-link" href="{% url 'pregled_svih_izbornih_grupa' username%}">Pregled izbornih grupa</a>
      <a class="nav-link" href="{% url 'spisak_studenata_po_grupama' username%}">Pregled spiska studenata po grupama</a>
      <a class="nav-link" href="{% url 'pretraga_studenta' username%}">Pretraga studenta</a>
    {% elif nalog.uloga == 'sekretar' %}
      <a class="nav-link" href="{% url 'postavljanje_obavestenja' username%}">Postavljanje obaveštenja</a>
      <a class="nav-link" href="{% url 'slanje_mejla' username%}">Slanje mejla</a>
      <a class="nav-link" href="{% url 'pregled_svih_izbornih_grupa' username%}">Pregled izbornih grupa</a>
      <a class="nav-link" href="{% url 'spisak_studenata_po_grupama' username%}">Pregled spiska studenata po grupama</a>
      <a class="nav-link" href="{% url 'pretraga_studenta' username%}">Pretraga studenta</a>
    {% endif %}
  </div>
  <div class="container">
    <h1 class="align-center">{% block title %}(no title){% endblock %}</h1>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
  </div>
{% endblock %}
