{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Home{% endblock %}

{% block content %}
  <script>
    function nadjiGrupe(terminID, spisakGrupa) {
      return spisakGrupa[terminID];
    }

    function nadjiVreme(terminID, vremena) {
      return vremena[terminID]
    }
  </script>
  <div style="text-align: center">Dobrodošli na studentski servis. Vaša uloga je: <span style="text-transform:capitalize">{{ nalog.uloga }}</span></div>
  <div class="raspored col-xs-9">
    <div class="naslov-tabela">Raspored za <span style="font-weight: bold">{{ korisnik }}</span>:</div>
    <div class="tabela-raspored">
      <table class="table">
        <thead>
          <tr>
            <th class="table-th" scope="col">Predmet</th>
            <th class="table-th" scope="col">Tip</th>
            <th class="table-th" scope="col">Nastavnik</th>
            <th class="table-th" scope="col">Grupe</th>
            <th class="table-th" scope="col">Dan</th>
            <th class="table-th" scope="col">Termin</th>
            <th class="table-th" scope="col">Ucionica</th>
          </tr>
        </thead>
        <tbody>
          {% for t in termini %}
            <tr>
              <td>{{ t.predmet.naziv }}</td>
              <td>{{ t.tip_nastave }}</td>
              <td>
                <script>
                  document.write("{{ t.nastavnik.ime|escapejs }} {{ t.nastavnik.prezime|escapejs }}");
                </script>
              </td>
              <td>
                <script>
                  document.write(nadjiGrupe("{{ t.id }}", {{ spisakGrupa|safe }}));
                </script>
              </td>
              <td>{{ t.dan }}</td>
              <td>
                <script>
                    document.write(nadjiVreme("{{ t.id }}", {{ vremenaZaPredmete|safe }}));
                </script>
              </td>
              <td>{{ t.oznaka_ucionice }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="obavestenja col-xs-3">
    Obaveštenja:
    {% for o in obavestenja %}
      <div class="obavestenje">
        {{ o.tekst }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
