{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %} {% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}(no title){% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block bootstrap3_content %}{% endblock %}
</body>
</html>
