{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Unos izborne grupe{% endblock %}

{% block content %}
  <form action="{% url 'snimi_izbor' username %}" method="post">
    {% csrf_token %}
    <div style="margin-top: 20px">
      <label>Indeks:</label></br>
      <input class="form-control short_input" name="smer" value="{{ podaci.smer }}" readonly style="display: initial">
      <input class="form-control short_input" name="indeks" value="{{ podaci.broj_indeksa }}" readonly style="display: initial"> /
      <input class="form-control short_input" name="godina_upisa" value="{{ podaci.godina_upisa }}" readonly style="display: initial">
    </div>
    <div style="margin-top: 30px">
      <label>Ime:</label></br>
      <input class="form-control input-style" type="text" name="ime" value="{{ podaci.ime }}" readonly/>
    </div>
    <div style="margin-top: 30px">
      <label>Prezime:</label></br>
      <input class="form-control input-style" type="text" name="prezime" value="{{ podaci.prezime }}" readonly/>
    </div>
    <div style="margin-top: 30px">
      <label>Broj do sada ukupno ostvarenih ESPB:</label></br>
      <input class="form-control input-style" type="number" name="ukupno_ESPB" required/>
    </div>
    <div style="margin-top: 30px">
      <label>Školske {{ semestar.skolska_godina_pocetak }}/{{ semestar.skolska_godina_kraj }} godine upisujem ESPB:</label></br>
      <input class="form-control input-style" type="number" name="upisujem_ESPB" required/>
    </div>
    <div style="margin-top: 30px">
      <label>Broj do sada položenih ispita:</label></br>
      <input class="form-control input-style" type="number" name="broj_polozenih_ispita" required/>
    </div>
    <div style="margin-top: 30px">
      <label>Semestar:</label></br>
      {% if semestar.vrsta == 'neparni' %}
        <input type="radio" name="semestar" value="1" required> 1
        <input type="radio" name="semestar" value="3" style="margin-left: 15px"> 3
        <input type="radio" name="semestar" value="5" style="margin-left: 15px"> 5
        <input type="radio" name="semestar" value="7" style="margin-left: 15px"> 7
      {% else %}
        <input type="radio" name="semestar" value="2" required> 2
        <input type="radio" name="semestar" value="4" style="margin-left: 15px"> 4
        <input type="radio" name="semestar" value="6" style="margin-left: 15px"> 6
        <input type="radio" name="semestar" value="8" style="margin-left: 15px"> 8
      {% endif %}
    </div>
    <div style="margin-top: 30px">
      <label>Prvi put upisujem semestar:</label></br>
      <input type="radio" name="prvi_put_upisujem" value="True" required> Da
      <input type="radio" name="prvi_put_upisujem" value="False" style="margin-left: 15px"> Ne
    </div>
    <div style="margin-top: 30px">
      <label>Grupu koju student bira:</label></br>
      <select id="grupe" class="form-control input-style" name="grupa">
      </select>
    </div>
    <div style="margin-top: 30px">
      <label>Nepoloženi predmeti iz prethodnih godina:</label></br>
      <select class="form-control" name="predmeti" multiple="multiple" size=10>
        {% for p in predmeti %}
          <option value="{{ p.naziv }}">{{ p.naziv }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="margin-top: 30px">
      <label>Način plaćanja školarine:</label></br>
      <input type="radio" name="nacin_placanja" value="odjednom" required> Odjednom
      <input type="radio" name="nacin_placanja" value="rate" style="margin-left: 15px"> Na rate
      <input type="radio" name="nacin_placanja" value="stipendija" style="margin-left: 15px"> Stipendista
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary">
        Snimi
      </button>
    </div>
  </form>
  <script>
    $("[name=semestar]")
      .change(function() {
        const value = this.value
        const grupe = {{ grupe|safe }}

        $( "#grupe option" ).each(function() {
          $(this).remove()
        })

        grupe.filter(g => g.oznaka_semestra === parseInt(value)).forEach(g => $( "#grupe" ).append(new Option(g.oznaka_grupe, g.oznaka_grupe)))
      })
  </script>
{% endblock %}
