{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Izmeni izbornu grupu{% endblock %}

{% block content %}
  <form action="{% url 'sacuvaj_izmene_grupe' username grupa.oznaka_grupe %}" method="post">
    {% csrf_token %}
    <div class="col-xs-12">
      <div style="margin-top: 10px">
        <label>Oznaka grupe:</label></br>
        <input class="form-control mid-input" name="oznaka" value="{{ grupa.oznaka_grupe }}" readonly>
      </div>
      <div style="margin-top: 20px">
        <label>Semestar:</label></br>
        <select class="form-control input-style" name="semestar">
          {% for s in semestar %}
            {% if s == grupa.za_semestar %}
              <option value="{{ s }}" selected>{{ s }}</option>
            {% else %}
              <option value="{{ s }}">{{ s }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div style="margin-top: 20px">
        <label>Oznaka semestra (primer 5):</label></br>
        <input class="form-control mid-input" type="number" name="oznaka_semestra" value="{{ grupa.oznaka_semestra }}" required/>
      </div>
      <div style="margin-top: 20px">
        <label>Kapacitet grupe:</label></br>
        <input class="form-control mid-input" type="number" name="kapacitet" value="{{ grupa.kapacitet }}" required/>
      </div>
      <div style="margin-top: 20px">
        <label>Smer:</label></br>
        <input class="form-control mid-input" type="text" name="smer" value="{{ grupa.smer }}" required/>
      </div>
      <div style="margin-top: 20px">
        <label>Da li je aktivna?</label></br>
        {% if grupa.aktivna == True %}
          <input type="radio" name="aktivna" value="true" required checked> Da
          <input type="radio" name="aktivna" value="false" style="margin-left: 30px"> Ne
        {% else %}
          <input type="radio" name="aktivna" value="true" required> Da
          <input type="radio" name="aktivna" value="false" style="margin-left: 30px" checked> Ne
        {% endif %}
      </div>
      <div style="margin-top: 20px">
        <label>Predmeti u toj grupi:</label></br>
        <select class="form-control" name="predmeti" multiple="multiple" required size=10>
          {% for p in svi_predmeti %}
            {% if p in predmeti %}
              <option value="{{ p.naziv }}" selected>{{ p.naziv }}</option>
            {% else %}
              <option value="{{ p.naziv }}">{{ p.naziv }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary">
        Snimi
      </button>
    </div>
  </form>
{% endblock %}
