{% extends 'studserviceapp/index.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
  <div class="header header-not-auth">Studentski Servis</div>
  <div class="container">
    <h1 class="align-center">{% block title %}Log In{% endblock %}</h1>

    <div class="alert-width">{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}</div>

    {% block content %}
      <div class="align-center">
        <form method="post" class="form">
          {% csrf_token %}
            <div class="input-center">
              <input class="form-control input-style" placeholder="Username" type="text" name="username" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 15px">
              Uloguj se
            </button>
          </form>
        </div>
    {% endblock %}
  </div>
{% endblock %}
