{% extends 'studserviceapp/index.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
  <div class="header header-not-auth">Studentski Servis</div>
  <div class="container">
    <h1 class="align-center">{% block title %}404 Not Found{% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
