{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Postavljanje Obaveštenja{% endblock %}

{% block content %}
  <div class="col-xs-12 forma-obavestenje">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Obaveštenje:</span>
        </div>
        {{ form.obavestenje }}
      </div>
      <div style="margin-top: 10px">
        <p>Unesite fajl (nije neophodno):</p>
        {{ form.file }}
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 30px">
        Postavi
      </button>
    </form>
  </div>
{% endblock %}
