{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pregled grupe{% endblock %}

{% block content %}
  <h2>
    Studenti koji su izabrali grupu {{ grupa }}:
  </h2>
  <table class="table">
    {% for s in studenti %}
      <tr>
        <td>
          {% if s.slika  %}
            <a href="{% url 'slika_studenta' username grupa s.nalog.username %}">{{ s.ime }} {{ s.prezime }}</a> {{ s.broj_indeksa }}/{{ s.godina_upisa }}
          {% else %}
            {{ s.ime }} {{ s.prezime }} {{ s.broj_indeksa }}/{{ s.godina_upisa }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
