{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pregled izabranih grupa{% endblock %}

{% block content %}
  <h3>
    Sve izabrane grupe za {{ semestar.vrsta}} semestar školske {{ semestar.skolska_godina_pocetak }}/{{ semestar.skolska_godina_kraj }}:
  </h3>
  {% for g in grupe %}
    <div>
      <a href="{% url 'pregled_grupe' username g.izabrana_grupa.oznaka_grupe %}">{{ g.izabrana_grupa.oznaka_grupe }}</a>
    </div>
  {% endfor %}
{% endblock %}
