{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pregled svih izbornih grupa{% endblock %}

{% block content %}
  <script>
    function ispisiPredmete(oznakaGrupe, spisakPredmeta) {
      const predmeti = spisakPredmeta[oznakaGrupe]
      $.map(predmeti, function(predmet, ind) {
        if(ind !== predmeti.length - 1) {
          document.write(predmet + ', ')
        } else {
          document.write(predmet)
        }
      })
    }
  </script>
  <div class="table-filters">
    <form method="post" style="width: 100%">
      {% csrf_token %}
      <div class="col-xs-2">
        <label>Oznaka semestra:</label></br>
        <input class="form-control mid-input" type="text" name="oznaka_semestra"/>
      </div>
      <div class="col-xs-2">
        <label>Smer:</label></br>
        <input class="form-control mid-input" type="text" name="smer"/>
      </div>
      <div class="col-xs-2" style="text-align: right">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px">
          Primeni filter
        </button>
      </div>
    </form>
  </div>
  <div class="tabela-raspored" style="margin-top: 30px">
    <table class="table">
      <thead>
        <tr>
          <th class="table-th" scope="col">Oznaka Grupe</th>
          <th class="table-th" scope="col">Za semestar</th>
          <th class="table-th" scope="col">Oznaka semestra</th>
          <th class="table-th" scope="col">Kapacitet</th>
          <th class="table-th" scope="col">Smer</th>
          <th class="table-th" scope="col">Aktivna</th>
          <th class="table-th" scope="col">Predmeti</th>
          {% if nalog.uloga == 'administrator' %}
            <th class="table-th" scope="col">Izmeni</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for g in grupe %}
          <tr>
            <td>
              <a href="{% url 'pregled_grupe' username g.oznaka_grupe %}">{{ g.oznaka_grupe }}</a>
            </td>
            <td style="text-transform:capitalize">{{ g.za_semestar.vrsta }} {{ g.za_semestar.skolska_godina_pocetak }}/{{ g.za_semestar.skolska_godina_kraj }}</td>
            <td>{{ g.oznaka_semestra }}</td>
            <td>{{ g.kapacitet }}</td>
            <td>{{ g.smer }}</td>
            <td>{{ g.aktivna }}</td>
            <td>
              <script>
                ispisiPredmete("{{g.oznaka_grupe}}", {{ predmetiPoGrupama|safe }})
              </script>
            </td>
            {% if nalog.uloga == 'administrator' %}
              <td>
                <a href="{% url 'izmeni_grupu' username g.oznaka_grupe %}">
                  <button class="btn btn-primary">
                    Izmeni
                  </button>
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
