{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pretraga studenta{% endblock %}

{% block content %}
  <div class="table-filters" style="margin-top: 20px">
    <form method="post" style="width: 100%">
      {% csrf_token %}
      <div class="col-xs-6">
        <label>Ime i prezime studenta:</label></br>
        <input class="form-control" type="text" name="ime_prezime"/>
      </div>
      <div class="col-xs-6">
        <label>Broj indeksa u formatu SS BBB/GGGG (SMER BROJ/GODINA):</label></br>
        <input class="form-control" type="text" name="indeks"/>
      </div>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary" style="margin-top: 25px">
          Pretraži
        </button>
      </div>
    </form>
  </div>
  {% for s in student %}
    <div class="col-xs-12">
      <h3>Podaci o studentu {{ s }}:</h3>
      {% if poslednjiPodaci != None %}
        <div class="tabela-raspored" style="margin-top: 30px">
          <table class="table">
            <thead>
              <tr>
                <th class="table-th" scope="col">Grupa</th>
                <th class="table-th" scope="col">Ostvareno ESPB</th>
                <th class="table-th" scope="col">Upisano ESPB</th>
                <th class="table-th" scope="col">Broj položenih ispita</th>
                <th class="table-th" scope="col">Upisan semestar</th>
                <th class="table-th" scope="col">Prvi put upisuje semestar</th>
                <th class="table-th" scope="col">Način plaćanja</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ poslednjiPodaci.izabrana_grupa.oznaka_grupe }}</td>
                <td>{{ poslednjiPodaci.ostvarenoESPB }}</td>
                <td>{{ poslednjiPodaci.upisujeESPB }}</td>
                <td>{{ poslednjiPodaci.broj_polozenih_ispita }}</td>
                <td>{{ poslednjiPodaci.upisuje_semestar }}.</td>
                <td>{{ poslednjiPodaci.prvi_put_upisuje_semestar }}</td>
                <td style="text-transform:capitalize">{{ poslednjiPodaci.nacin_placanja }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      {% else %}
        Nema podataka o studentu iz ovog semestra.
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
