{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Podaci{% endblock %}

{% block content %}
  <h2>
    Grupe profesora {{ podaci }}:
  </h2>
  <div>
    {% for p in predmetPodaci %}
      <div style="margin-top: 20px;">
        <div class="naziv_predmeta">{{ p.predmet.naziv }}:</div>
        <div>
          {% for g in p.grupe %}
            <a href="{% url 'pregled_grupe' username g %}">{{ g }}</a><br/>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
