{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Raspored Nastave{% endblock %}

{% block content %}
  <script>
    function nadjiGrupe(terminID, spisakGrupa) {
      return spisakGrupa[terminID];
    }

    function nadjiVreme(terminID, vremena) {
      return vremena[terminID]
    }
  </script>
  <div class="raspored col-xs-12">
    <div class="table-filters">
      <form method="post" style="width: 100%">
        {% csrf_token %}
        <div class="col-xs-4">
          <p>Filtriraj:</p>
          <select id="filter" class="form-control" name="filter_by">
            <option value="grupa">Grupa</option>
            <option value="nastavnik">Nastavnik</option>
            <option value="ucionica">Ucionica</option>
          </select>
        </div>
        <div class="col-xs-4">
          <select id="izbor" class="form-control" name="izbor" style="margin-top: 30px">
            <option value=""></option>
            {% for g in grupe %}
              <option class="opcija" value="{{g}}">{{g}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4" style="text-align: right">
          <button type="submit" class="btn btn-primary" style="margin-top: 30px">
            Primeni filter
          </button>
        </div>
      </form>
    </div>
    <div class="tabela-raspored">
      <table class="table">
        <thead>
          <tr>
            <th class="table-th" scope="col">Predmet</th>
            <th class="table-th" scope="col">Tip</th>
            <th class="table-th" scope="col">Nastavnik</th>
            <th class="table-th" scope="col">Grupe</th>
            <th class="table-th" scope="col">Dan</th>
            <th class="table-th" scope="col">Termin</th>
            <th class="table-th" scope="col">Ucionica</th>
          </tr>
        </thead>
        <tbody>
          {% for t in termini %}
            <tr>
              <td>{{ t.predmet.naziv }}</td>
              <td>{{ t.tip_nastave }}</td>
              <td>
                <script>
                  document.write("{{ t.nastavnik.ime|escapejs }} {{ t.nastavnik.prezime|escapejs }}");
                </script>
              </td>
              <td>
                <script>
                  document.write(nadjiGrupe("{{ t.id }}", {{ spisakGrupa|safe }}));
                </script>
              </td>
              <td>{{ t.dan }}</td>
              <td>
                <script>
                    document.write(nadjiVreme("{{ t.id }}", {{ vremenaZaPredmete|safe }}));
                </script>
              </td>
              <td>{{ t.oznaka_ucionice }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    $( "#filter" )
      .change(function () {
        $( "#izbor option" ).each(function() {
          $(this).remove()
        })
        $( "#izbor" ).append(new Option("", ""))

        let selected;
        $( "#filter option:selected" ).each(function() {
          selected = $(this).val()
        })

        if( selected === 'grupa') {
          const grupe = {{ grupe|safe }}
          $.map(grupe, function(g) {
            $( "#izbor" ).append(new Option(g, g))
          })
        } else if (selected === 'nastavnik') {
          const nastavnik = {{ nastavniciFilter|safe }}
          $.map(nastavnik, function(n) {
            $( "#izbor" ).append(new Option(n.ime, n.id))
          })
        } else {
          const ucionice = {{ ucionice|safe }}
          $.map(ucionice, function(u) {
            $( "#izbor" ).append(new Option(u, u))
          })
        }
      })
  </script>
{% endblock %}
