{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Rezultati unosa rasporeda{% endblock %}

{% block content %}
  {% if brojGreski == 0 %}
    <div>Raspored sacuvan</div>
  {% else %}
    <h3>Pronadjene greske:</h3>
    {% for g in greske %}
      <div>
        <b>Red {{ g.red }}:</b> {{ g.poruka }}
      </div>
    {% endfor %}
    <h3 style="margin-top: 20px">Odaberite kako zelite da regulisete greske:</h3>
    <form method="post">
      {% csrf_token %}
      <input type="radio" name="regulacija" value="1" required checked> Ispraviti greske i ponovo uneti fajl
      <input type="radio" name="regulacija" value="2" style="margin-left: 20px"> Uneti lose redove preko forme
      <div style="margin-top: 30px">
        <button type="submit" class="btn btn-primary" >
          Dalje
        </button>
      </div>
    </form>
  {% endif %}
{% endblock %}
