{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Slanje mejla{% endblock %}

{% block content %}
  <form action="{% url 'posalji_mejl' nalog.username %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mejl_polje">
      <div class="col-xs-2" style="font-weight: bold">Kome se salje mejl:</div>
      <select class="form-control col-xs-10" name="kome">
        {% if nalog.uloga != 'nastavnik' %}
          <option value="svima" selected>Svim studentima</option>
        {% endif %}
        {% for s in smerovi %}
          <option value="smer_{{ s }}">{{ s }} smeru</option>
        {% endfor %}
        {% for p in predmeti %}
          <option value="predmet_{{ p }}">Studentima koji slusaju {{ p }}</option>
        {% endfor %}
        {% for g in grupe %}
          <option value="grupa_{{ g }}">Studentima u grupi {{ g }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mejl_polje">
      <div class="col-xs-2" style="font-weight: bold">Ime i prezime onoga ko salje:</div>
      <input class="form-control col-xs-10" type="text" name="ime_prezime" value="{{ podaci }}" readonly>
    </div>
    <div class="mejl_polje">
      <div class="col-xs-2" style="font-weight: bold">Mejl onoga ko salje:</div>
      <input class="form-control col-xs-10" type="text" name="mejl" value="{{ nalog.username }}@raf.rs" readonly>
    </div>
    <div class="mejl_polje">
      <div class="col-xs-2" style="font-weight: bold">Naslov:</div>
      <input class="form-control col-xs-10" type="text" name="naslov" required>
    </div>
    <div class="mejl_polje">
      <div class="col-xs-2" style="font-weight: bold">Poruka:</div>
      <textarea class="form-control col-xs-10" name="poruka" rows="5" cols="50"></textarea>
    </div>
    <div class="mejl_polje">
      <div class="col-xs-2">{{ form.file.label_tag }}</div>
      {{ form.file }}
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px">
      Posalji mejl
    </button>
  </form>
{% endblock %}
