{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Podaci{% endblock %}

{% block content %}
  <h2>
    Slika studenta {{ podaci }}:
  </h2>
  <div>
    <div><img src="{{ podaci.slika.url }}" alt="img" height=250><div>
    <a href="{% url 'pregled_grupe' username grupa %}">
      <button class="btn btn-primary" style="margin-top: 20px">
        Nazad
      </button>
    </a>
  </div>
{% endblock %}
