{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pregled svih studenata po grupama{% endblock %}

{% block content %}
{% for g in grupe %}
    <div class="tabela-raspored" style="margin-top: 30px">
        <h3 style="text-align: center">{{ g.grupa }}</h3>
        <table class="table">
          <thead>
            <tr>
              <th class="table-th" scope="col">Ime</th>
              <th class="table-th" scope="col">Prezime</th>
              <th class="table-th" scope="col">Indeks</th>
              <th class="table-th" scope="col">Slika</th>
            </tr>
          </thead>
          <tbody>
            {% for s in g.studenti %}
              <tr>
                <td>{{ s.ime }}</td>
                <td>{{ s.prezime }}</td>
                <td>{{ s.smer }} {{ s.broj_indeksa }} / {{ s.godina_upisa }}</td>
                <td>
                  {% if s.slika %}
                    <img src="{{ s.slika.url }}" alt="img" height=150>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endfor %}
{% endblock %}
