{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Podaci{% endblock %}

{% block content %}
    <h2>
      Podaci o studentu {{ podaci }}
    </h2>
    <table class="table">
      <tr>
        <th class="table-th" scope="row"> Ime i prezime </th>
        <td> {{ podaci }} </td>
      <tr>
      <tr>
        <th class="table-th" scope="row"> Indeks </th>
        <td> {{ podaci.broj_indeksa }} / {{ podaci.godina_upisa }}</td>
      <tr>
      <tr>
        <th class="table-th" scope="row"> Smer </th>
        <td> {{ podaci.smer }} </td>
      <tr>
      <tr>
        <th class="table-th" scope="row"> Grupe </th>
        <td>
          {% for g in grupe %}
            {{ g.izabrana_grupa.oznaka_grupe }}{{' '}}
          {% endfor %}
        </td>
      <tr>
      <tr>
        <th class="table-th" scope="row"> Slika </th>
        <td
          <div>
            {% if podaci.slika %}
              <img src="{{ podaci.slika.url }}" alt="img" height=250>
            {% endif %}
          <div>
          <a href="{% url 'upload_slike' username %}">
            <button class="btn btn-primary" style="margin-top: 30px">
              Uneti novu sliku
            </button>
          </a>
        </td>
      <tr>
    </table>
{% endblock %}
