{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Termin dodat.{% endblock %}

{% block content %}
  <div class="col-xs-12" style="margin-top: 30px">
    <div class="col-xs-6">
      <a href="{% url 'dodavanje_u_raspored_kolokvijuma' username %}">
        <button type="submit" class="btn btn-primary col-xs-12">
          Dodati novi red
        </button>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="{% url 'home' username %}">
        <button type="submit" class="btn btn-primary col-xs-12">
          Na home stranicu
        </button>
      </a>
    </div>
  </div>
{% endblock %}
