{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Unos semestra{% endblock %}

{% block content %}
  <h3 class="col-xs-12" style="color: red">Pažnja! Smatra se da je poslednje unesen semestar aktivan! Nemojte unositi semestar pre vremena!</h3>
  <form method="post">
    {% csrf_token %}
    <div class="col-xs-12">
      <div style="margin-top: 10px">
        <label>Vrsta:</label></br>
        <input type="radio" name="vrsta_semestra" value="parni" required> Parni
        <input type="radio" name="vrsta_semestra" value="neparni" style="margin-left: 30px"> Neparni
      </div>
      <div style="margin-top: 20px">
        <label>Početak školske godine (primer 2018):</label></br>
        <input class="form-control mid-input" type="number" name="pocetak_skolske_godine" min=1000 max=9999 required/>
      </div>
      <div style="margin-top: 20px">
        <label>Kraj školske godine (primer 2019):</label></br>
        <input class="form-control mid-input" type="number" name="kraj_skolske_godine" min=1000 max=9999 required/>
      </div>
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary">
        Sačuvaj
      </button>
    </div>
  </form>
{% endblock %}
