{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Unos izborne grupe{% endblock %}

{% block content %}
  <form action="{% url 'sacuvaj_izbornu_grupu' username %}" method="post">
    {% csrf_token %}
    <div style="margin-top: 20px">
      <label>Semestar:</label></br>
      <select class="form-control input-style" name="semestar" required>
        {% for s in semestar %}
          <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
      </select>
    </div>
    <div style="margin-top: 30px">
      <label>Oznaka grupe (ili grupi, uneti oznake razdvojene zarezima)</label></br>
      <input class="form-control input-style" type="text" name="oznaka_grupe" required/>
    </div>
    <div style="margin-top: 20px">
      <label>Oznaka semestra (primer 5):</label></br>
      <input id="oznaka_semestra" class="form-control mid-input" type="number" name="oznaka_semestra" required/>
    </div>
    <div style="margin-top: 20px">
      <label>Kapacitet grupe:</label></br>
      <input class="form-control mid-input" type="number" name="kapacitet" required/>
    </div>
    <div style="margin-top: 20px">
      <label>Smer:</label></br>
      <input class="form-control mid-input" type="text" name="smer" required/>
    </div>
    <div style="margin-top: 20px">
      <label>Da li je aktivna?</label></br>
      <input type="radio" name="aktivna" value="true" required> Da
      <input type="radio" name="aktivna" value="false" style="margin-left: 30px"> Ne
    </div>
    <div style="margin-top: 20px">
      <label>Predmeti u toj grupi:</label></br>
      <select id="predmeti" class="form-control" name="predmeti" multiple="multiple" required size=10>
      </select>
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary">
        Snimi
      </button>
    </div>
  </form>
  <script>
    $( "#oznaka_semestra" )
      .change(function () {
        const typed = $( "#oznaka_semestra" ).val();
        const predmeti = {{ predmeti|safe }}
        
        $( "#predmeti option" ).each(function() {
          $(this).remove()
        })

        predmeti.filter(p => p.semestar === parseInt(typed)).forEach(p => $( "#predmeti" ).append(new Option(p.naziv, p.naziv)))
      })
  </script>
{% endblock %}
