{% extends 'studserviceapp/base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Unos rasporeda kolokvijuma{% endblock %}

{% block content %}
  <form action="{% url 'rezultati_unosa' username %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-xs-12">
      <p>Redni broj kolokvijumske nedelje u obliku "1.":</p>
      <input class="form-control short_input" type="text" name="kolokvijumska_nedelja" required>
    </div>
    <div class="col-xs-12" style="margin-top: 20px">
      <p>Unesite raspored u obliku .csv fajla:</p>
      {{ form.file }}
    </div>
    <div class="col-xs-12" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary">
        Dalje
      </button>
    </div>
  </form>
{% endblock %}
